__pycache__/
*.py[cod]

.venv/
venv/

.env
.env.*

data/uploads/*
data/processed/*
data/chroma_db/*
data/embeddings/*

!data/uploads/.gitkeep
!data/processed/.gitkeep

*.save

.vscode/
.idea/

.DS_Store
Thumbs.db